.nav-indigo{
    background-color: #6610f2;
}
.section-head{
color: #000;
text-align: center;
margin-bottom: 40px;;
}
.section-head:after{
    background: #e74c3c;
    content:"";
    display:block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}
#btn-indigo{
    background-color: #6610f2;
}
body{
    /* background-color: #6e27df; */
    /* background-color: rgb(189, 221, 255); */
    background: linear-gradient(to left, #bdddff, #bdddff);
    background-size: 50% auto;
    
}
#cd-title{
    font-size:5vw;
}

#banner-bg{
    margin-top: -70px;
}
.bb{
    /* border: 3px solid red; */
    height: 60px;
}
.projs:hover{
    transform: scale(1.05);
}